.profileAvatar {
    position: relative;
    margin: 0 auto 17px;
    width: 96px;
    height: 96px;
}

.profileAvatarImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.profileAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileAvatarBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 32px;
    color: #FFFFFF;
    background: #808080;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.profileAvatarBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.profileName {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 20px;
}

.profileNameBtn {
    position: relative;
    top: -2px;
    font-size: 16px;
    color: #000;
    transition: opacity .25s ease-out;
}

.profileNameBtn:hover {
    opacity: .6;
    background-color: transparent;
}

.profileEmail {
    margin-bottom: 29px;
    opacity: .5;
}